@charset "utf-8";

:root {
    --app-background-light: #efeef5;
    --app-background-body: #021526;
    --app-font-color:#98DED9;
    --app-large-font-color:#EEEEEE;
    --app-medium-font-color:#508C9B;
    --app-section-background-color :#78B7D0

}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
  padding-top: 5svh;
}

body {
     font-family: "Raleway", sans-serif;
    background-color: var(--app-background-body);
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

a {
    text-decoration: none;
}
/*----------------------------------*/
/* Utilities                        */
/*----------------------------------*/
.flex {
    display: flex;
    place-items: center;
}

.flex-between {
    justify-content: space-between;
}

.flex-end {
    justify-content: flex-end; 
    width: 100%; 
}

.flex-center {
    justify-content: center;
}

.gap-20 {
    gap: 20px;
}
.gap-30{
    gap:30px;
}
.grid-center {
    display: grid;
    place-items: center;
}
.grid{
    display: grid;

}
.flex-start{
    justify-content: flex-end;
    display: inline-flex;
}
.align-center{
    align-items: center;
}
.hidden{
    display: none;
}