@charset "utf-8";

:root {
    --app-background-light: #efeef5;
    --app-background-body: #021526;
    --app-font-color:#98DED9;
    --app-large-font-color:#EEEEEE;
    --app-medium-font-color:#508C9B;
    --app-section-background-color :#78B7D0;
    --app--midnight-blue-to-black: linear-gradient( to top, midnightblue, black);

}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
    padding-top: 5svh;
}


body {
     font-family: "Raleway", sans-serif;
    background: var(--app--midnight-blue-to-black);
    padding: 0;
    overflow-x: hidden; 
}

a {
    text-decoration: none;
}
/*----------------------------------*/
/* Utilities                        */
/*----------------------------------*/
.flex {
    display: flex;
    place-items: center;
}
.text-align-right{
float: right; 
}

.flex-between {
    justify-content: space-between;
}
.align-left{
    float: left;
}

.flex-end {
    justify-content: flex-end; 
    width: 100%; 
}

.flex-center {
    justify-content: center;
    height: 100svh;
}

.gap-20 {
    gap: 20px;
}
.gap-30{
    gap:30px;
}
.grid-center {
    display: grid;
    place-items: center;
}
.grid{
    display: grid;

}
.flex-start{
    justify-content: flex-end;
    display: inline-flex;
}
.align-center{
    align-items: center;
}
.hidden{
    display: none;
}
.white{
color:#EEEEEE;
}
.margin-bottom-5svh{
    margin-bottom: 5svh;
}

.font-size-40px{
    font-size: 40px;
    }
/*----------------------------------*/
/* Main                            */
/*----------------------------------*/

.nav-links{
  font-size: larger;
}

li p{
    color: #EEEEEE;
    transition: ease-in-out 0.3s;
}
li p:hover{
    color:var(--app-font-color);
}
.hero-banner{
    padding: 10svh 0;
    border:1px;
}
.intro{
    font-size: 20px;
    color: #EEEEEE;
}
.occupation{
font-size: larger;
color: #ffa500;
margin-bottom: 5svh;
}
.my-name{
    font-size: 80px;
    color: #EEEEEE;
}
.paragraph{
color: #EEEEEE;
text-align: center;
padding: 40px 20px;
}
.text-header{
    font-size: 40px;
    margin-top: 5svh;
    color: orange;
    text-align: center;

}
.resume-button {
    background-color: #021526;
    color: #508C9B;
    padding: 10px 10px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 600;
}

.fa-github{
    color:#ffa500;
    font-size: 40px;
  align-items: center;
}
.projects{
    text-align: center;
    margin-bottom: 5svh;
}

.social-links{
    background-color: #021526;
    text-align: center;
    padding: 10px;
}
.fa-linkedin, .fa-envelope{
    color:#ffa500;
    transition: 0.2s ease-in-out;
    font-size: 40px;
}
.fa-linkedin:hover, .fa-envelope:hover,.fa-github:hover{
    color:#508C9B;
}
@media (max-width: 1200px) {
    .text-header{
   margin-top: 0.25svh;
    }
    .hero-banner{
        padding: 1svh;
    }
}

@media (max-width: 992px) {
    /* Tablets (landscape) */
    .container {
        padding: 0 15px;
    }
}

@media (max-width: 768px) {
    /* Tablets (portrait) */
    .container {
        padding: 0 10px;
    }
}

@media (max-width: 576px) {
    /* Mobile phones */
    .intro{
        font-size: 10px;
        margin-bottom: 2svh;
    }
    .occupation{
    font-size: 15px;
    margin-bottom: 5svh;
    }
    .my-name{
        font-size: 30px;
        color: #EEEEEE;
        margin-bottom: 2svh;
    }
    .text-header{
        font-size: 20px;
        margin-top: 8svh;
    }
    .resume-button{
        font-size: 10px;
        padding: 8px 8px;
    }
    .font-size-40px{
        font-size: 20px;
    }
    .fa-linkedin, .fa-envelope{
        font-size: 30px;
        text-align: center;
    }
}
