@charset "utf-8";

:root {
    --app-background-light: #efeef5;
    --app-background-body: #021526;
    --app-font-color:#98DED9;
    --app-large-font-color:#EEEEEE;
    --app-medium-font-color:#508C9B;
    --app-section-background-color :#78B7D0;
    --app--midnight-blue-to-black: linear-gradient( to top, midnightblue, black);

}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
    padding-top: 5svh;
}


body {
     font-family: "Raleway", sans-serif;
    background: var(--app--midnight-blue-to-black);
    padding: 0;
    overflow-x: hidden; 
}

a {
    text-decoration: none;
}
/*----------------------------------*/
/* Utilities                        */
/*----------------------------------*/
.flex {
    display: flex;
    place-items: center;
}
.text-align-right{
float: right; 
}

.flex-between {
    justify-content: space-between;
}

.flex-end {
    justify-content: flex-end; 
    width: 100%; 
}

.flex-center {
    justify-content: center;
    height: 100svh;
}

.gap-20 {
    gap: 20px;
}
.gap-30{
    gap:30px;
}
.grid-center {
    display: grid;
    place-items: center;
}
.grid{
    display: grid;

}
.flex-start{
    justify-content: flex-end;
    display: inline-flex;
}
.align-center{
    align-items: center;
}
.hidden{
    display: none;
}

.nav-links{
  font-size: larger;
}

li p{
    color: #EEEEEE;
    transition: ease-in-out 0.3s;
}
li p:hover{
    color:var(--app-font-color);
}
.hero-banner{
    padding: 10svh 0;
}
.intro{
    font-size: 20px;
    color: #EEEEEE;
}
.occupation{
font-size: larger;
color: #EEEEEE;
}
.my-name{
    font-size: 80px;
    color: #EEEEEE;
}
.paragraph{
width: 300px;
}
.text-header{
    font-size: 40px;
}
.about-me{
    background-color: #EEEEEE;
    background-size: contain;
}